@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');

body{
    margin: 0;
    background: rgb(12, 12, 12);
}

/* container da barra de navegaÃ§Ã£o */
.navbarContainer{
    display: flex;
    top: 0;
    position: relative;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    transition-duration: 0.4s;
    padding: 1vh 0;
    height: 12vh;
}
.navbarlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}
.navbarlogo img{
    width: 10vw;
}
.navbarlinks{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbarlinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    gap:1vw;
}
.navbarlinks a:hover{
    box-shadow: inset 0px -1px 0px 0px goldenrod;;
    color:goldenrod;
}


.material-symbols-outlined {
    color: goldenrod;;
    font-size: 1.5vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.container-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10vh 15vh;
    box-sizing: border-box;
    background: linear-gradient(
    179.4deg,
    rgb(6, 8, 20) -16.9%,
    rgb(14, 9, 46) 119.9%
  );
}
.dashboard{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 2px solid goldenrod;
}
.dashboard-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}
.data-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vh 3vh;
    background-color: rgb(4, 4, 9);
    transition-duration: 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
}
.data p{
    color: rgb(171, 171, 171);
    transition-duration: 0.3s;
}
.data .material-symbols-outlined{
    color: rgb(171, 171, 171);
    transition-duration: 0.3s;
}
.data input[type="radio"]:hover ~ .material-symbols-outlined{
    color: goldenrod;
}
.data input[type="radio"]:hover+p{
    color: goldenrod;
}

.data input[type="radio"]:checked ~ .material-symbols-outlined{
    color: goldenrod;
}
.data input[type="radio"]:checked+p{
    color: goldenrod;
}


.data input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

}



.tables{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5vh;
    box-sizing: border-box;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
}
.tables caption{
    font-size: 2vw;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
}
.tables td{
    padding: 4vh 2vh;
    border-bottom: 1px solid white;
   
   
}
.tables th{
    padding: 4vh 2vh;
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid white;
    
}
tr{
    background-color: rgba(51, 51, 51, 0.577);

    
}
button{
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
}
button:hover{
    color:goldenrod
}

.container-clientes{
    display: flex;
}
.container-ingressos{
    display: none;
}
.container-pedidos{
    display: none;
}


