@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');

body{
    margin: 0;
}
.container-geral{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 10vh 15vh;
    box-sizing: border-box;
    background-color: rgb(30, 30, 30);
}
.dashboard{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    border: 2px solid goldenrod;
}
.dashboard-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }









.tables{
    grid-area: tables;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    padding: 5vh;
    box-sizing: border-box;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
}
.tables caption{
    font-size: 2vw;
}
table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
}
.tables td{
    padding: 4vh 2vh;
    border-bottom: 1px solid white;
   
   
}
.tables th{
    padding: 4vh 2vh;
    background-color: rgb(19, 19, 19);
    border-bottom: 1px solid white;
    
}
tr{
    background-color: rgba(51, 51, 51, 0.577);

    
}
button{
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
}
button:hover{
    color:goldenrod
}

.container-clientes{
    display: flex;
}
.container-ingressos{
    display: none;
}
