@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');
body{
    margin: 0;

}
.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    flex-direction: column;
    gap: 1vh;
}
.container-geral h2{
    font-size: 2vw;
    font-family: 'Quicksand',sans-serif;
    color: white;
}
a{
    font-size: 2vw;
    font-family: 'Quicksand',sans-serif;
    color: white;
    background-color: goldenrod;
    padding: 1vw;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 3vh;
}