@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}
a{
    text-decoration: none;
}
/* container da barra de navegação */
.navbarContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
    z-index: 2;
    position: absolute;
}
.navbarlogo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
    padding: 0px 80px;
    height: 60px;
    box-sizing: border-box;
}
.navbarlinks{
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}
.navbarlinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    height: 100%;
    gap:1vw;
}
.navbarlinks a:hover{
    box-shadow: inset 0px -1px 0px 0px rgb(255, 225, 0);
    color:rgb(255, 225, 0);
}
.navlogin-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 60px;
}
.navlogin-btn a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    width: 50%;
    height: 100%;
    gap:15px;
}
.navlogin-btn a:hover{
    box-shadow: inset 0px -1px 0px 0px rgb(255, 225, 0);
    color:rgb(255, 225, 0);
}
.responsive-img{
    max-width: 100%;
    height: auto;
}
.material-symbols-outlined {
    color: goldenrod;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.inputContainer .material-symbols-outlined {
    color: goldenrod;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.container-geral{
    display: flex;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    font-family: 'Quicksand', sans-serif;
    background-color: #1e1e1e;
    box-sizing: border-box;
}
form{
    display: flex;
    gap: 15px;
    padding: 15vh 5vh;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.379);
    width:80vw;
}
form p{
    color: white;
}
input[type=checkbox]{
    width: 2vw;
    height: 2vh;
}
form h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 0;
}
.inputContainer{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
   
}
.inputContainerRow{
    display: flex;
    gap: 10px;
}
.inputContainer input{
    background-color: rgba(48, 48, 48, 0.611);
    border: none;
    width: 100%;
    height: 8vh;
    position: relative;
    color: white;
    font-size: 1rem;
    padding: 0px 30%;
    border-radius: 10px;
}
.inputContainer p{
    position: absolute;
    left: 0;
    padding: 0px 10px;
    color: rgba(255, 255, 255, 0.411);
    transition-duration: 0.3s;
    font-size: 0.9rem;
    
}
.inputContainer i{
    position: absolute;
    right: 0;
    padding: 0px 10px;
    color: white;
    transition-duration: 0.3s;
}
.inputContainer input:focus{
    background-color: rgba(33, 33, 33, 0.433);
    outline: none;
    border: 2px solid goldenrod;
}
.inputContainer input:focus ~ p{
    transform: translateY(-15px);
    font-size: 0.7rem;
}
.submit{
    background-color: goldenrod;
    color: black;
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    border: none;
    border-radius: 50px;
    padding: 15px;
    transition-duration: 0.2s;
}
.submit:hover{
    background-color: rgb(238, 188, 61);
    cursor: pointer;
}

.imagens-container{
    display: flex;
    width: 100%;
    height:auto;
    position: relative;
    background-size: 100% 100%;
    animation: background-change 20s infinite;
}
.imagens-container .gradient{
    background: rgb(97,97,97);
    background: linear-gradient(273deg, rgba(97,97,97,0.375875350140056) 0%, rgba(56,56,56,0.7792366946778712) 50%, rgba(19,19,19,1) 95%);
    width: 100%;
}
.imagens-container .logo{
    position: absolute;
    right: 15%;
    bottom: 15%;
}



@keyframes background-change {
    0% {
        background-image: url("imagem/cad_cliente_barbie.webp");
        background-size: 100% 100%;
    }
    20% {
        background-image: url("imagem/cad_cliente_barbie.webp");
        background-size: 100% 100%;
    }
    50%{
        background-image: url("imagem/cad_cliente_oppen.avif");
        background-size: 100% 100%;
    }
    90%{
        background-image: url("imagem/super-mario-bros-movie.webp");
        background-size: 100% 100%;
    }
    100% {
        background-image: url("imagem/cad_cliente_barbie.webp");
        background-size: 100% 100%;
    }
    
}



