@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap");

body {
  margin: 0;
}

hr {
  width: 90%;
  border-top: 0.1vw solid white;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: white;
  text-align: center;
}
/* botao de mover o carrossel pra direita */
.botoescontrolleft {
  color: goldenrod;
  font-size: 55px;
  height: 430px;
  display: flex;
  align-items: center;
  padding: 0px 5vw;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}
/* aumentar icone no hover */
.botoescontrolleft:hover ion-icon {
  transform: scale(1.1);
}
/* botao de mover o carrossel pra esquerda */
.botoescontrolright {
  color: goldenrod;
  font-size: 55px;
  height: 430px;
  display: flex;
  align-items: center;
  padding: 0px 5vw;
  transition-duration: 0.3s;
  border: none;
  cursor: pointer;
}
/* aumentar icone no hover */
.botoescontrolright:hover ion-icon {
  transform: scale(1.1);
}
/* container para as bolas embaixo do carrossel */
.marcadores {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  margin-top: 5vh;
}
/* bolinhha embaixo do header */
.marcadores .bola {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  transition-duration: 0.4s;
}
/* esconder a segunda parte do carrossel (aparece quando clica na seta) */
#frame2 {
  display: none;
}
/* container do carrossel */
.carrossel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 2vh;
  overflow-x: hidden;
}
/* container dos filmes */
.filmes-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  box-sizing: border-box;
  
}
/* container do titulo e da imagem e botão de comprar ingresso */
.ingressos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: 100% 100%;
  height: auto;
  gap: 2vh;
}
/* tirar a margem automatica do p */
.ingressos-container p {
  margin: 0;
}
/* titulo do filme */
.ingressos-container h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2vw;
  color: white;
  text-align: center;
  margin: 0;
  text-wrap: nowrap;
}
/* poster (imagem é linkada no html) */
.ingressos-container .ingresso-poster {
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 16vw;
  border-radius: 10px;
}
/* container pro botão */
.ingresso-poster-botoes {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* icone */
.ingresso-poster-botoes .material-symbols-outlined {
  color: rgb(255, 255, 255);
  font-size: 1.5vw;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* botao de comprar */
.ingresso-poster-botoes .compraringresso {
  background-color: goldenrod;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1vw;
  padding: 2vh;
  height: 1vh;
}

.ingresso-poster-botoes .compraringresso:hover {
  background-color: gold;
}

/* container da barra lateral e menu de lanches */
.lanches-section {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(0deg,rgb(14, 17, 45) -16.9%, rgb(10, 9, 16) 119.9%);
  border-top: 1px solid goldenrod;
}
/* barra lateral */
.lanches-imagem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5vh;
  gap: 2vh;
}
/* imagem abaixo do titulo */
.lanches-imagem img {
  width: 100%;
  height: 60vh;
}
/* titulo */
.lanches-imagem h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: goldenrod;
  text-align: center;
  margin: 0;
}
/* texto */
.lanches-imagem p {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  color: white;
  text-align: justify;
  margin: 0;
}
/* container da lista de vantagens embaixo da imagem */
.lista-vantagens {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  width: 90%;
  padding: 3vh;
}
/* texto */
.lista-vantagens p {
  font-size: 1.2vw;
}
/* icone */
.lista-vantagens .material-symbols-outlined {
  color: goldenrod;
  font-size: 3vw;
}
/* barra de navegação do menu de lanches */
.lanches-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2vw;
  width: 100%;
  box-sizing: border-box;
  padding: 0vh 5vw;
}
/* container do menu */
.lanches-menu {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.447);
  box-sizing: border-box;
  padding: 5vh;
}
/* linha para os anuncios de pipoca */
.menu-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 4vh;
}
.lanches-menu h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2vw;
  color: goldenrod;
  text-align: center;
  margin: 0;
}
.lanches-menu p {
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  color: white;
  text-align: center;
  margin: 0;
  text-wrap: nowrap;
}
/* container para a imagem e o preço e botão */
.lanche-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 12vw;
  gap: 1vw;
}
/* imagem dos lanches */
.lanche-container img {
  width: 100%;
  height: 20vh;
}
/* botao de comprar lanche */
.lanche-container .comprarlanche {
  width: 100%;
  background-color: goldenrod;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  box-sizing: border-box;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.lanche-container .comprarlanche:hover {
  cursor: pointer;
  background-color: gold;
}
.lanche-container .material-symbols-outlined {
  color: white;
}
/* imagem abaixo do menu */
.imagem-monte-combo {
  width: 30vw;
  height: 50vh;
}

/* botao de radio para a barra de navegação (peguei do comprar_ingressos.css) */
.data {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  color: white;
  text-align: center;
  margin: 0;
}
.data p {
  box-sizing: border-box;
  padding: 2vh;
  transition-duration: 0.2s;
  font-weight: 600;
  cursor: pointer;
}
.data .material-symbols-outlined {
  color: rgb(171, 171, 171);
  transition-duration: 0.5s;
}
.data input[type="radio"]:hover ~ .material-symbols-outlined {
  color: goldenrod;
}
.data input[type="radio"]:hover + p {
  color: goldenrod;
}
/* deixar o icone e texto amarelo quando o botão está ativo */
.data input[type="radio"]:checked ~ .material-symbols-outlined {
  color: goldenrod;
}
.data input[type="radio"]:checked + p {
  color: goldenrod;
  box-shadow: inset 0px -3px 0px 0px goldenrod;
}

/* esconder o botao de rádio original do navegador */
.data input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
/* esconder o segundo menu de promoções especiais (ativado no js) */
#promos {
  display: none;
}

/* botao de montar combo */
.montar-combo-btn {
  background-color: goldenrod;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  padding: 5vh;
  height: 1vh;
}
.montar-combo-btn:hover {
  background-color: gold;
}
.montar-combo-btn .material-symbols-outlined {
  color: white;
}


/* animação do carrossel para a esquerda */
.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}



/* animação do carrossel para a direita */
.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  



  