@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');

body{
    margin: 0
}
hr{
    width: 90%;
    border-top: 0.1vw solid white;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: white;
    text-align: center;
}
.ingressos-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 5vw;
    gap: 3vw;
}
.tags{
    grid-area: tags;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vw;
}
.tags span{
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    color: white;
    text-align: center;
    border: 0.1vw solid goldenrod;
    padding: 0.7vh;
    width: 100%;
}
  
.ingresso-desc { 
    grid-area: desc; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2vh 5vh;
    gap: 1.5vh;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
    width: 25%;
    border: 0.3vh solid goldenrod;

}
.ingresso-desc h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: white;
    text-align: center;
    margin: 0;
    text-wrap: nowrap;
}
.ingresso-desc p{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9vw;
    color: white;
    text-align: center;
    margin: 0;
    text-align: left;
}
.ingresso-desc hr{
    width: 100%;
    border-top: 0.1vw solid white;
}
.ingresso-desc img{
    height: 27vh;
    width: 65%;
    border-radius: 5px;
    border: 0.3vh solid goldenrod;
}
.ingressos-desc-filme-info{
    grid-area: tags;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5vw;
}
.ingressos-desc-filme-info p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    text-wrap: nowrap;
}
.ingresso-desc .compraringresso-desc{
    background-color: goldenrod;
    color:black;
    padding:1vh;
    border-radius: 2vh;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    width: 100%;
}
.ingresso-desc .compraringresso-desc:hover{
    background-color: rgb(255, 217, 0);
}
.ingresso-desc .compraringresso-desc .material-symbols-outlined{
    color: black;
}
.ingresso-desc .vertrailer-desc{
    background-color: inherit;
    color:white;
    padding:1vh;
    border-radius: 15px;
    border: 0.3vh solid goldenrod;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.8rem;
    width: 100%;
    height: 100%;
    text-wrap: nowrap;
}
.ingresso-desc .vertrailer-desc:hover{
    background-color: rgba(30, 30, 30, 0.59);
}
.desc-filme-botoes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1vw;
    
}
