@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap');

body{
    margin: 0;
    background: linear-gradient(150deg, rgb(2, 1, 11) 0%, rgb(1, 16, 66) 100%);
}

/* container da barra de navegaÃ§Ã£o */
.navbarContainer{
    display: flex;
    top: 0;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
    transition-duration: 0.4s;
    padding: 1vh 0;
    height: 12vh;
}
.navbarlogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    box-sizing: border-box;
}
.navbarlogo img{
    width: 10vw;
}
.navbarlinks{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbarlinks a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    width: 100%;
    height: 100%;
    gap:1vw;
}
.navbarlinks a:hover{
    box-shadow: inset 0px -1px 0px 0px goldenrod;;
    color:goldenrod;
}


.material-symbols-outlined {
    color: goldenrod;;
    font-size: 1.5vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.header-container{
    display: flex;
    height: 75vh;
    gap: 50px;
    -ms-overflow-style: none;  /* Esconde a barra de scroll IE e Edge */
    scrollbar-width: none;  /* esconde a barra de scroll no Firefox */
    scroll-behavior: smooth;
    flex-direction: column;
}
/* esconde a barra de scroll */
.header-container::-webkit-scrollbar {
    display: none;
}

.header-filme-info{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    width: 40%;
    grid-area: titulo;
}
.header-filme-info h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 4vw;
    text-wrap: nowrap;
}
.header-filme-info p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
}
.filme-categoria-duracao{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.filme-categoria-duracao p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    margin: 0;
    display: flex;
    gap: 5px;
}
.header-filme-info-botoes{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.header-filme-info-botoes .material-symbols-outlined {
    color: rgb(255, 255, 255);
    font-size: 1.5vw;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.header-filme-info-botoes .compraringresso{
    background-color: goldenrod;;
    color:white;
    padding:3vh;
    border-radius: 2vh;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: auto;
    height: 2vh;
    font-size: 1.2vw;
    text-wrap: nowrap;
}
.header-filme-info-botoes .compraringresso:hover{
    background-color: gold;
}
.header-filme-info-botoes .vertrailer{
    background-color: inherit;
    color:white;
    padding:3vh;
    border-radius: 15px;
    border: 0.3vh solid white;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    transition-duration: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10vw;
    height: 2vh;
    font-size: 1.2vw;
    text-wrap: nowrap;
}
.header-filme-info-botoes .vertrailer:hover{
    background-color: rgba(30, 30, 30, 0.59);
}

.header-barbie{
    background-image: radial-gradient(circle, rgba(87, 124, 0, 0) 0%, rgba(4,24,29,1) 100%), url("imagem/barbie-header.png");
    display: flex;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
}
.header-oppenheimer{
    background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(4,24,29,1) 100%), url("imagem/oppenheimer-header.jpg");
    display: none;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
}
.header-mario{
    background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(4,24,29,1) 100%), url("imagem/mario-header.png");
    display: none;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
}
.header-freira{
    background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(4,24,29,1) 100%), url("imagem/freira-header.jpg");
    display: none;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
}
.header-paw{
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(4,24,29,1) 100%), url("imagem/swift-header.webp");
    display: none;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10vh;
    align-items: flex-start;
    box-sizing: border-box;
    color: white;
}

.filmes-em-cartaz-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    margin-top: -6vh;
    z-index: 2;

}
.filmes-em-cartaz{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    z-index: 2;
    padding: 2vh;
    border-radius: 10px;
}
.filme-poster-container{
    background-size: 100% 100%;
    transition-duration: 0.4s;
    z-index: 2;
    width: 100%; 
}
.filme-poster-container:hover{
    cursor: pointer;
}
.filme-poster-container:hover > .filme-poster-desc{
    cursor: pointer;
    color: goldenrod;
 
}
.filme-poster{
    height: 18vh;
    background-size: 100% 100%;
    border-radius: 10px;
    z-index: 2;
    filter:grayscale(90%);
    transition-duration: 0.4s;
}
.filme-poster:hover{
    filter:grayscale(0%);
}
.filme-poster-container .filme-poster-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    width: 100%;
    z-index: 2;
    transition-duration: 0.3s;
}

.filme-poster-desc p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    color: white;
   
}
.active{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    width: 100%;
    z-index: 2;
    transition-duration: 0.3s;
    font-family: 'Quicksand', sans-serif;
    font-size: 1vw;
    color: white;
    transform: translateY(-1vh);
    filter:grayscale(0%);
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-1 21:13:48
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
.fade-in {
	-webkit-animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

