.container {  
    display: grid;
    height: 50vh;
    background-color: blueviolet;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "titulo . ."
      "titulo . escolhas"
      ". . escolhas";
  }
  
.titulo { 
    grid-area: titulo; 
    background-color: aquamarine;
}
  
  .escolhas { 
    background-color: rgb(21, 90, 67);
    grid-area: escolhas; }
  