@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
    179.4deg,
    rgb(10, 13, 32) -16.9%,
    rgb(17, 11, 56) 119.9%
  );
}

html {
  height: 100%;
}

p {
  margin: 0;
}

.ingressos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  background-size: 140% 140%;
  flex-direction: column;
}

.ingressos-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  margin: 0;
  text-align: left;
  color: whitesmoke;
  margin-left: -15vw;
}

.navbarContainer {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  transition-duration: 0.4s;
  padding: 1vh 0;
  height: 12vh;
}

.navbarlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}

.navbarlogo img {
  width: 10vw;
}

.navbarlinks {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navbarlinks a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  gap: 1vw;
}

.navbarlinks a:hover {
  box-shadow: inset 0px -1px 0px 0px goldenrod;
  color: goldenrod;
}

.material-symbols-outlined {
  color: goldenrod;
  font-size: 1.5vw;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.container-geral {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2vh 3vw;
  box-sizing: border-box;
  background: rgb(6, 3, 27);
  background: linear-gradient(
    179.4deg,
    rgb(10, 13, 32) -16.9%,
    rgb(17, 11, 56) 119.9%
  );
  font-family: "Quicksand", sans-serif;
  background-size: 100% 100%;
}

.sidebar-movie {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 70%;
  height: auto;
  padding: 1vw;
  box-sizing: border-box;
  gap: 1vh;
}

.sidebar-movie p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9vw;
  margin: 0;
  text-align: left;
  color: rgb(210, 210, 210);
}

.poster-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.poster-info-container .poster {
  width: 80%;
  background-size: 100% 100%;
  height: 70vh;
  border-radius: 10px;
  margin-top: 2vh;
}

.poster-info-container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  gap: 1vh;
}

.poster-info-container a {
  background-color: inherit;
  color: white;
  padding: 1vh;
  border-radius: 15px;
  border: 0.3vh solid goldenrod;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  text-wrap: nowrap;
}

.poster-info-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  margin: 0;
  text-align: left;
  color: rgb(210, 210, 210);
}

.poster-info-container h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  margin: 0;
  text-align: left;
  color: goldenrod;
}

.ingressos-desc-filme-info {
  grid-area: tags;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
}

.ingressos-desc-filme-info p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  text-wrap: nowrap;
}

form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10vh;
  gap: 2vh;
}

form p {
  color: grey;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: 0.5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}
