@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@400&display=swap");
body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
    179.4deg,
    rgb(10, 13, 32) -16.9%,
    rgb(17, 11, 56) 119.9%
  );
}
html {
  height: 100%;
}
p {
  margin: 0;
}
.ingressos-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50vh;
  width: 100%;
  background-size: 140% 140%;
  flex-direction: column;
}
.ingressos-header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  margin: 0;
  text-align: left;
  color: whitesmoke;
  margin-left: -15vw;
}
.navbarContainer {
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  transition-duration: 0.4s;
  padding: 1vh 0;
  height: 12vh;
}
.navbarlogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 100%;
  box-sizing: border-box;
}
.navbarlogo img {
  width: 10vw;
}
.navbarlinks {
  display: flex;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.navbarlinks a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  width: 100%;
  height: 100%;
  gap: 1vw;
}
.navbarlinks a:hover {
  box-shadow: inset 0px -1px 0px 0px goldenrod;
  color: goldenrod;
}
.material-symbols-outlined {
  color: goldenrod;
  font-size: 1.5vw;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.container-geral {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
  padding: 2vh 3vw;
  box-sizing: border-box;
  background: rgb(6, 3, 27);
  background: linear-gradient(
    179.4deg,
    rgb(10, 13, 32) -16.9%,
    rgb(17, 11, 56) 119.9%
  );
  font-family: "Quicksand", sans-serif;
  background-size: 100% 100%;
}
.sidebar-movie {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
  height: auto;
  padding: 1vw;
  box-sizing: border-box;
  gap: 1vh;
}
.sidebar-movie p {
  font-family: "Quicksand", sans-serif;
  font-size: 0.9vw;
  margin: 0;
  text-align: left;
  color: rgb(210, 210, 210);
}
.poster-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.poster-info-container .poster {
  width: 80%;
  background-size: 100% 100%;
  height: 70vh;
  border-radius: 10px;
  margin-top: 2vh;
}
.poster-info-container .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 50%;
  height: 100%;
  padding: 1vw;
  box-sizing: border-box;
  gap: 1vh;
}
.poster-info-container a {
  background-color: inherit;
  color: white;
  padding: 1vh;
  border-radius: 15px;
  border: 0.3vh solid goldenrod;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  transition-duration: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.8rem;
  text-wrap: nowrap;
}
.poster-info-container p {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  margin: 0;
  text-align: left;
  color: rgb(210, 210, 210);
}
.poster-info-container h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 1vw;
  margin: 0;
  text-align: left;
  color: goldenrod;
}
.ingressos-desc-filme-info {
  grid-area: tags;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5vw;
}
.ingressos-desc-filme-info p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  text-wrap: nowrap;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 10vh;
  gap: 2vh;
}
form p {
  color: white;
  margin: 0;
}
.item-row {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 2vh;
  box-sizing: border-box;
}

.item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vh;
  height: auto;
}
.img-texto-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 15vh;
  gap: 1vw;
}
.img-texto-container .texto {
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
  gap: 1vh;
  width: 100%;
}

.img-texto-container .texto p{
  margin: 0;
  font-size: 0.8rem;
}
.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(8, 10, 27);
  border-radius: 20px;
  box-sizing: border-box;
  padding: 2vh;
  width: 15vw;
}
.imagem img {
  max-width: 5rem;
  max-height: 5rem;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  display: inline-flex;
}
.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 0px 0px 2px goldenrod;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  position: relative;
  width: 1.5vw;
  height: 3.5vh;
}
.number-input .material-symbols-outlined {
  color: goldenrod;
  font-size: 1.3vw;
}
.number-input input[type="number"] {
  font-family: sans-serif;
  color: whitesmoke;
  background-color: transparent;
  border: none;
  font-size: 1vw;
  width: 3vw;
  height: 100%;
  padding: 1vh;
  font-weight: bold;
  text-align: center;
}
.number-input input[type="number"]:focus {
  outline: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}